<h1>About CaptiveOne</h1>
<%= link_to "Home", home_path %> <%= link_to "About", about_path %> <%= link_to "Contact", contact_path %> 
<% if user_signed_in? %>
<%= link_to "Learn", pages_path %> 
  <% end %>

<p>Text Section</p>