<h1>CaptiveOne CRM</h1>
<br>
<%= link_to "Home", home_path %> <%= link_to "About", about_path %> <%= link_to "Contact", contact_path %> <%= link_to "Learn", pages_path %> 

<h1>This is contact page</h1>

If you have any questions, feel free to contact.....
