     <div class="container">
      <div class="page-header">
        <h1>Contact Us</h1>
      </div>
      <p>If you have any questions, feel free to contact one of us anytime Monday - Friday between 9am and 5pm.<br/><br/></p>
      
      
      <div class="row">
        <div class="col-lg-6 contact-main">
          <%= link_to image_tag("karen_galanaugh.jpg", alt: "Karen Galanaugh"), '' %>	
          <div class="contact">
          <h2>Karen Galanaugh</h2>
          <p><a href="maito:karen@captiveone.com">karen@captiveone.com</a><br/>
561.557.7053</p>
          </div>
        </div><!-- /.col-lg-4 -->
        
        
        <div class="col-lg-6 contact-main" >
        	<%= link_to image_tag("jason_byers.jpg", alt: "Jason Byers"), '' %>
            <div class="contact">
          <h2>Jason Byers</h2>
          <p><a href="maito:karen@captiveone.com">jason@captiveone.com</a><br/>
561.557.7054</p>
          </div>
        </div><!-- /.col-lg-4 -->
      </div>
      
      
    </div>