<h1>Administration </h1>
<ul>
	<li><%= link_to 'Manage Categories' , admin_categories_path  %></li>
	<li><%= link_to 'Manage Pages' , admin_pages_path  %></li>
	<li><%= link_to "send invitation",new_user_invitation_path %></li>
</ul>


