<div class="container">
<div class="page-header">
<h1 class="category">Most Active User</h1>
<%= link_to 'Dashboard(Home)', admin_path, class: "btn btn-info category-bttn" %>
</div>


<div class="table-responsive">
<table class="table">
<thead>

<tr class="active">
<th>User Name</th>
<th>Time Spent</th>
</tr>

<% @userlogs.each do |userlog| %>

<tr>
<td><%= userlog.user.username %></td>
<td><%= userlog.total  %>	
</tr>
<% end %>
</thead>
</table>
</div>

<br><br>
<%= will_paginate @userlogs %>	
</div>
