<h1>Most Active User</h1>

<%= link_to 'Dashboard(Home)', admin_path, class: "btn btn-info" %>

<table border=0 cellspaceing="5" cellpadding="5">
	<tr>
		<td>User Name</td>
		
		<td>Time Spent</td>
	</tr>
	<% @userlogs.each do |userlog| %>
		<tr>
			<td><%= userlog.user.username %></td>
			
			<td><%= userlog.total  %>	
			
		</tr>
	<% end %>
</table>

 <br><br>
